.nav {
  background-color: #f68423;
  height: 70px;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.logo-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container > a {
  text-decoration: none;
}
.nav h1 {
  color: white;
  font-weight: 300;
}
.logo {
  border: 1px white solid;
  width: 35px;
  height: 35px;
}
.footer-container {
  color: white;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  width: 25%;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  margin-top: 1em;
  background-color: #f68423;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  font-weight: 400;
  padding: 1.3em;
}
.number-container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
/* Smartphones */
@media only screen and (min-device-width: 320px) and (max-device-width: 650px) {
  .number-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
  }
}
/* Tablets */
@media only screen and (min-device-width: 767px) and (max-device-width: 1024px) {
  .number-container {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr;
  }
}
.number {
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
.number:hover {
  background-color: white;
  color: #f68423;
}
.selected {
  background-color: white;
  color: #f68423;
}
