.stories-container {
  width: 80%;
  margin-top: 1em;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
/* Smartphones */
@media only screen and (min-device-width: 320px) and (max-device-width: 650px) {
  .stories-container {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
/* Tablets */
@media only screen and (min-device-width: 767px) and (max-device-width: 1024px) {
  .stories-container {
    width: 100%;
  }
}
.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 10px 80px 10px 80px;
  border-bottom: 1px solid #eee;
  line-height: 20px;
  align-items: flex-start;
  position: relative;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}
.story h2 {
  position: absolute;
  left: 0;
  width: 5em;
  color: #f68423;
  font-size: 1em;
  text-align: center;
}
.story a {
  text-decoration: none;
  transition: all 0.3s;
}
.story a:hover {
  color: #f68423;
}
.story-title {
  margin-top: 15px;
}
.story-title a {
  color: black;
  font-weight: 400;
}
.story-info p {
  color: black;
  font-weight: 200;
  font-size: 0.8em;
}
.story-info p a {
  color: black;
  font-weight: 400;
}
.story-info span {
  font-weight: 400;
}
