body {
  background: #f2f3f5;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav {
  background-color: #f68423;
  height: 70px;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.logo-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container > a {
  text-decoration: none;
}
.nav h1 {
  color: white;
  font-weight: 300;
}
.logo {
  border: 1px white solid;
  width: 35px;
  height: 35px;
}
